<body class="flex flex-col h-screen justify-between bg-slate-800">
    <%- include('../partials/header.ejs') %>
    <div class="text-white px-28 flex items-start justify-center flex-col mb-auto h-full">
        <div class="flex">
            <h2 class="text-xl mr-4"><%= event.title %></h2>
        </div>
        <div class="flex gap-4 mt-5">
            <img class='w-auto h-40' src="<%= event.image %>">
            <div class="text-slate-300">
                <p><span class="font-bold text-white">Host: </span><%= event.host.firstName + ' ' + event.host.lastName %></p>
                <p><span class="font-bold text-white">Date and Time: </span><%= event.starttime %> - <%= event.endtime %></p>
                <p><span class="font-bold text-white">Location: </span><%= event.location %></p>
                <p><span class="font-bold text-white">Details: </span><%= event.details %></p>
            </div>
        </div>
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
